<!DOCTYPE html>
<html lang='en'>
<head>
<title>XAEXAL</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="CACHE-CONTROL"  content="NO_CACHE">
<meta name="AUTHOR" CONTENT="PARK JAE HYUNG">
<meta http-equiv="progma" content="no-cache">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body style='background-color:#C8E8F5;font-size:10px' align=center> 
<table align=center>
<tr height=100px>
	<td align=center><h1><a href="{% url 'board:bbs_home' %}" style='text-decoration:none;'>XAEXAL</a></h1></td>
</tr>
{% block content %}
{% endblock %}
</table>
</body>
</html>
